@using Finances.App.WebApp.Extensions 
@using Finances.Engine.Models

@model SearchCriteriaModel

<script src="~/js/Reports/reports.js" asp-append-version="true"></script>

<script>

    var currentDate = new Date();

</script>

<div style="position:sticky; top:0; background-color: #ffffff">

    <div class="border-all">

        <form id="form-search-criteria">

            <table width="20%">

                <tr>
                    <td width="70%"></td>
                    <td width="30%" colspan="2" style="text-align:center">
                        <label>Year/Period:</label>
                    </td>
                </tr>

                <tr>
                    <td>From:</td>
                    <td width="20%" style="text-align:left">
                        @Html.DropDownListYearsFor(model => model.StartYear, 
                            id: "startYear",
                            selectableYears: Constants.SearchableYears)
                    </td>
                    <td width="10%" style="text-align:left">
                        @Html.DropDownListPeriodsFor(model => model.StartPeriod, id: "startPeriod")
                    </td>
                </tr>
                <tr>
                    <td>To:</td>
                    <td style="text-align:left">
                        @Html.DropDownListYearsFor(model => model.EndYear, 
                            id: "endYear",
                            selectableYears: Constants.SearchableYears)
                    </td>
                    <td style="text-align:left">
                        @Html.DropDownListPeriodsFor(model => model.EndPeriod, id: "startPeriod")
                    </td>
                </tr>

            </table>

            <table width="50%" class="border-top">
                <tr>
                    <td width="25%">
                        <label>Value type:</label>
                    </td>
                    <td width="25%" style="text-align:left">
                        <input type="radio" id="reportValueType_total" name="reportValueType" value="Total" />
                        <label>Total</label>
                    </td>
                    <td width="25%" style="text-align:left">
                        <input type="radio" id="reportValueType_credit" name="reportValueType" value="Credit" />
                        <label>Credit</label>
                    </td>
                    <td width="25%" style="text-align: left">
                        <input type="radio" id="reportValueType_debit" name="reportValueType" value="Debit" />
                        <label>Debit</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Total type:</label>
                    </td>
                    <td style="text-align:left">
                        <input type="radio" id="reportTotalType_accumulated" name="reportTotalType" value="Accumulated" />
                        <label>Accumulated</label>
                    </td>
                    <td style="text-align:left">
                        <input type="radio" id="reportTotalType_period" name="reportTotalType" value="Period" />
                        <label>Period</label>
                    </td>
                    <td></td>
                </tr>

            </table>

        </form>

    </div>

    <div class="border-all" width="100%">
        <input type="button" id="RunReport" value="Run" onclick="onClickRunReport()" />
    </div>

    <div id="user-messages" width="100%" style="color:red; padding-top:10px; padding-bottom:10px">

    </div>

    <div id="reportHeaders" class="border-all" style="padding-top:0px; margin-top:0px; border-color:white">
    </div>

</div>

<div id="reportResults" class="border-all" style="padding-top:0px; margin-top:0px">
</div>

<script>

    $('#reportValueType_total').prop('checked', true);
    $('#reportTotalType_accumulated').prop('checked', true);

    clearUserMessages(); // required for when switching between Index views

    onClickRunReport();

</script>