@using Finances.App.WebApp.Models.Views.CategoryGroups;

<script src="~/js/CategoryGroups/categoryGroup.js" asp-append-version="true"></script>
<script src="~/js/CategoryGroups/searchCategoryGroups.js" asp-append-version="true"></script>

<script>
    var currentDate = new Date();
    var sectionNames = ['add', 'edit'];
</script>

<style>
    select, option {
        width: 100%;
    }
</style>

<div style="position:sticky; top:0; background-color: #ffffff; padding-top:10px">

    <div id="user-messages" class="user-messages"></div>

    <partial name="_Buttons" />

    <div width="100%" style="background-color: cornsilk">
        <div id="add-section">
            <partial name="_AddEditCategoryGroup" model='@new AddEditCategoryGroupModel (
                AddEditCategoryGroupModel.AddOrEdit.Add )' />
        </div>
        <div id="edit-section">
            <partial name="_AddEditCategoryGroup" model='@new AddEditCategoryGroupModel (
                AddEditCategoryGroupModel.AddOrEdit.Edit )' />
        </div>
    </div>

    <!-- sticky header -->
    <div class="border-all" style="border-bottom:none; padding-bottom:0px">
        <table width="100%">
            <thead>
                <tr>
                    <th class="align-center" width="3%"></th>
                    <th class="vertical-border-only align-center" width="80%">Name</th>
                    <th class="vertical-border-only align-center" width="20%">Display order</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="border-all" style="margin-top:0px; border-top:none; padding-top:0px">
    <table width="100%">
        <thead>
            <tr>
                <th class="align-center" width="3%"></th>
                <th class="vertical-border-only align-center" width="80%"></th>
                <th class="vertical-border-only align-center" width="20%"></th>
            </tr>
        </thead>
        <tbody id="categoryGroups">
        </tbody>
    </table>
</div>

<script>

    setCurrentItemClass(categoryGroupClass);

    hideAllSections();

    searchAndDisplayCategoryGroups({ displayUserMessage: true });

    clearUserMessages(); // required for when switching between Index views

</script>
