
<div class="buttons">
    <table style="table-layout: fixed" width="100%">
        <tr>
            <td class="border-all" style="width:20%">
                <input id="resetDisplay-button" type="button" class="unselectedButton" value="Reset display" onclick="resetItemDisplay(currentItemClass)" />
            </td>
            <td class="border-all">
                <input id="add-button" type="button" class="unselectedButton" value="Add" onclick="clickAdd()" />
                <input id="edit-button" type="button" class="unselectedButton" value="Edit" onclick="clickEdit()" />
                <input id="delete-button" type="button" class="unselectedButton" value="Delete" onclick="clickDelete()" />
                <input id="moveWages-button" type="button" class="unselectedButton" value="Move wages" onclick="clickMoveWages()" />
            </td>
        </tr>
    </table>
</div>