
@using Finances.App.WebApp.Controllers;

<html>

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/js/Shared/display.js" asp-append-version="true"></script>
    <script src="~/js/Shared/Functions/dateTime.js" asp-append-version="true"></script>
    <script src="~/js/Shared/Functions/misc.js" asp-append-version="true"></script>
    <script src="~/js/Shared/Items/add.js" asp-append-version="true"></script>
    <script src="~/js/Shared/Items/delete.js" asp-append-version="true"></script>
    <script src="~/js/Shared/Items/edit.js" asp-append-version="true"></script>
    <script src="~/js/Shared/Items/items.js" asp-append-version="true"></script>

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm border-bottom box-shadow">
            <div class="container">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller=@TransactionsController.ControllerName asp-action=@TransactionsController.ActionNames.Index>Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller=@CategoriesController.ControllerName asp-action=@CategoriesController.ActionNames.Index>Categories</a>
                        </li>
                        <li class="nav-item" style="border-right-style:solid; border-right-width:thin; padding-right:10px">
                            <a class="nav-link text-dark" asp-controller=@CategoryGroupsController.ControllerName asp-action=@CategoryGroupsController.ActionNames.Index>Category groups</a>
                        </li>
                        <li class="nav-item" style="padding-left:10px">
                            <a class="nav-link text-dark" asp-controller=@CategoryTotalsReportController.ControllerName asp-action=@CategoryTotalsReportController.ActionNames.Index>Category totals report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    @RenderSection("Scripts", required: false)

    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top">
        <div class="container">
        </div>
    </footer>

</body>

</html>
